<%= form_for :calculator, url: { action: :new }, method: :get do |f|   %>
  <%= number_field_tag :a, params[:a] %>
  <%= select_tag :operation, options_for_select([['+', :sum], ['-',    :subtr]], params[:operation]) %>
  <%= number_field_tag :b, params[:b] %>
  <%= f.submit 'Calculate!' %>
<% end %>

<% unless @result.nil? %>
  <p> = <%= @result %> </p>
<% end %>
<br>
<hr>
<br>
<%= form_for :calculator, url: { action: :calc }, method: :get do |f|   %>
  <%= text_field_tag :c, params[:c] %>
  <%= f.submit 'Multiply!' %>
<% end %>

<% unless @res.nil? %>
  <p> = <%= @res %> </p>
<% end %>
<br>
<hr>
<br>
<%= form_for :calculator, url: { action: :mean }, method: :get do |f|   %>
  <%= text_field_tag :m, params[:m] %>
  <%= f.submit 'Mean!' %>
<% end %>

<% unless @resM.nil? %>
  <p> = <%= @resM %> </p>
<% end %>
<br>
<hr>
<br>
<%= form_for :calculator, url: { action: :median }, method: :get do |f|   %>
  <%= text_field_tag :me, params[:me] %>
  <%= f.submit 'Median!' %>
<% end %>

<% unless @resMe.nil? %>
  <p> = <%= @resMe %> </p>
<% end %>
<br>
<hr>
<br>
<%= form_for :calculator, url: { action: :mode }, method: :get do |f|   %>
  <%= text_field_tag :mo, params[:mo] %>
  <%= f.submit 'Mode!' %>
<% end %>

<% unless @resMo.nil? %>
  <p> = <%= @resMo %> </p>
<% end %>