<h1>Add New Appointment</h1>
<%= form_for @appointment, url: appointment_index_path do |f| %> 
<%= f.fields_for :patient, Patient.new do |form| %>
<p>
    <%= form.label :patient_name%>
    <br>
    <%= form.text_field(:name, {:class => 'form-control'})%>
</p>
<%end %>
<p>
    <%= f.label :doctor%>
    <br>
    <select name="appointment[physician_id]">
    <% Physician.all.each do |physician| %>
        <option value="<%= physician.id %>"><%= physician.name %></option>
    <% end %>
</select>
</p>
<p>
    <%= f.submit({:class => 'btn btn-dark'}) %>
    
</p>

<%end%>